/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;    
    font-family:"Open Sans Condensed", Arial, Helvetica, sans-serif; 
    line-height: 1.4;
    background-color:#fff;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author: HOTUS
   Website: Hot Tools - NexGen

   ========================================================================== */
.wrap {
    margin: 0 auto;
    width:1200px;
    background-color:white;
}
#header {
    padding-top:12px;
    float:left;
    background-color:#000;
    border-bottom: 1px solid grey;
    margin:0 auto;
    width:1200px;
    height:60px;
    margin-top:-16px;
    position:fixed;
    z-index:50;
}
.logo {
    float:left;
    width:160px;
    padding-top:10px;
}
#img-logo {

}


.nav-container{
    width:1000px;
    padding-top:10px;
}

/* intro div */

.intro{
background: #fff; 
color:white;

}

.intro-container{
    position: absolute;
    top: 130px;
    left: 64%;
    z-index: 0;
    width: 290px;
    height: 289px;
}
.intro-container h3 {
    text-align:center;
    font-size: 28px;
    font-weight: 100;
    line-height: 1.0;
}
.intro-container p {
    text-align:center;
}
.img-logo2 {  
text-align:center; 
position:relative; 
}
.down-arrow {
    text-align:center;
    position:relative;
}
.box {
  float: left;
  width: 30%;
  height: 100px;
  background-color: grey;
  margin-right: 1%;
  margin-bottom: 1%;
  position: relative;
}
.visit-hot-tools a {
color:#CFB4BE !important;
}

.visit-hot-tools a:hover {
color:#fff !important;
}


#div1 {
    height:900px;
    background:#0B9C8D;
    color:white;
    z-index:0;
    position:relative;
}


#div2{
    height:900px;
    background:#9999FF;
    color:white;
    z-index:0;
    position:relative;
}
#div3{
    height:900px;
    background:#996600;
    color:white;
    z-index:0;
    position:relative;
}
#div4{
    height:900px;
    background:#669900;
    color:white;
    z-index:0;
    position:relative;
}
#div5{
    height:900px;
    background:#006699;
    color:white;
    z-index:0;
    position:relative;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}